{% extends 'Layout/column.html.twig' %}

{% block content %}

{% include 'Weather/_form.html.twig' %}

{% if weatherData %}
    <h1>Here is the weather in {{ weatherData.name }}, {{ weatherData.sys.country }}</h1>

    <img src="{{ 'assets/images/weather/' ~ weatherData.description }}">
    <img src="{{ weatherData.weather[0].icon_url }}">

    <p>Description : {{ weatherData.weather[0].description }}</p> 
    <p>Temperature : {{ weatherData.main.temp }}°C</p>

{% endif %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}